:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */
.logo {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.accent-logo {
  color: var(--accent-color);
}
.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.contacts a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* main */
/* button */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button.primary {
  background-color: var(--background-color);
}
.button:hover {
  background-color: var(--accent-color);
  color: #ffff;
  cursor: pointer;
}

.portfolio a {
  color: var(--main-text-color);
}
.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
}
.bottom {
  background-color: var(--footer-color);
  color: #fff;
}
.bottom address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.bottom .logo {
  color: #fff;
}
.bottom a {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.7;
}
